{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if not .Data.Singular }}
  <small>
    <div>
      <!-- {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
      {{ end }} -->
      {{/* Collect all tags from the current page's .Pages */}}
      {{ $tags := slice }}
      {{ range .Pages }}
        {{ with .Params.tags }}
          {{ range . }}
            {{ $tags = $tags | append . }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{/* Remove duplicates and sort */}}
      {{ $tags = $tags | uniq | sort }}
      {{ range $tags }}
        {{ $tag := . }}
        {{ with $.Site.GetPage (printf "tags/%s" $tag | urlize) }}
          <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower $tag }}</a>
        {{ end }}
      {{ end }}
    </div>
  </small>
  {{ end }}
</content>
{{ end }}